################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ateli_Site/FileContentIndex/103bcc21-37e0-4b2a-90e9-997b42b30d02.vsidx
