################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ateli_Site/FileContentIndex/103bcc21-37e0-4b2a-90e9-997b42b30d02.vsidx
/.vs/Ateli_Site/FileContentIndex/2ab06be9-b249-48d9-95fb-a2b421c2b759.vsidx
/.vs/Ateli_Site/FileContentIndex/6b785df3-f8bc-442b-a409-a0da57c7de89.vsidx
/.vs/Ateli_Site/FileContentIndex/0c49392e-f7ab-454c-83f8-0e4adf1eca90.vsidx
/.vs/Ateli_Site/FileContentIndex/fd5592c1-1c61-4b68-9fb4-d2bbba85d0c0.vsidx
/.vs/Ateli_Site/FileContentIndex/2c383cbb-e09a-48c3-b162-e88f10b0e4ae.vsidx
