@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Regular.ttf") format("truetype");
}

body {
    font-family: 'Dancing Script', sans-serif;
    line-height: 1.6;
    background-image: url("../images/background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    color: white;
    position: relative;
    top: 60px;
}

h10 {
    color: white;
    position: relative;
    top: 15px;
}

h11 {
    color: white;
    position: relative;
    top: 30px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.header-background {
    background-image: url("../images/abstract_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video {
    position: fixed;
    top: 0;   /* top: -200px;  */
    left: 0;  /* left: -1000px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* ciemna nak³adka */
    z-index: -1;
}

.custom-footer {
    color: darkgray;
}

.custom-font {
    font-family: 'Eras ITC', sans-serif;
}